extends layout

block content
 h2= product 
 .row
  .col-12.col-md-6.col-lg-4
    .card
      img.card-img-top(src='https://dummyimage.com/600x400/55595c/fff' alt='Card image cap')
      .card-body
        h4.card-title
          a(href='/product/1' title='View Product') Product title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
        .row
          .col
            p.btn.btn-danger.btn-block 99.00 $
          .col
            a.btn.btn-success.btn-block(href='#') Add to cart
  .col-12.col-md-6.col-lg-4
    .card
      img.card-img-top(src='https://dummyimage.com/600x400/55595c/fff' alt='Card image cap')
      .card-body
        h4.card-title
          a(href='/product/2' title='View Product') Product title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
        .row
          .col
            p.btn.btn-danger.btn-block 99.00 $
          .col
            a.btn.btn-success.btn-block(href='#') Add to cart
  .col-12.col-md-6.col-lg-4
    .card
      img.card-img-top(src='https://dummyimage.com/600x400/55595c/fff' alt='Card image cap')
      .card-body
        h4.card-title
          a(href='product/3' title='View Product') Product title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
        .row
          .col
            p.btn.btn-danger.btn-block 99.00 $
          .col
            a.btn.btn-success.btn-block(href='#') Add to cart
  .col-12.col-md-6.col-lg-4
    .card
      img.card-img-top(src='https://dummyimage.com/600x400/55595c/fff' alt='Card image cap')
      .card-body
        h4.card-title
          a(href='product/4' title='View Product') Product title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
        .row
          .col
            p.btn.btn-danger.btn-block 99.00 $
          .col
            a.btn.btn-success.btn-block(href='#') Add to cart
  .col-12.col-md-6.col-lg-4
    .card
      img.card-img-top(src='https://dummyimage.com/600x400/55595c/fff' alt='Card image cap')
      .card-body
        h4.card-title
          a(href='/product/5' title='View Product') Product title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
        .row
          .col
            p.btn.btn-danger.btn-block 99.00 $
          .col
            a.btn.btn-success.btn-block(href='#') Add to cart
  .col-12.col-md-6.col-lg-4
    .card
      img.card-img-top(src='https://dummyimage.com/600x400/55595c/fff' alt='Card image cap')
      .card-body
        h4.card-title
          a(href='/product/6' title='View Product') Product title
        p.card-text
          | Some quick example text to build on the card title and make up the bulk of the card's content.
        .row
          .col
            p.btn.btn-danger.btn-block 99.00 $
          .col
            a.btn.btn-success.btn-block(href='#') Add to cart
  .col-12
    nav(aria-label='...')
      ul.pagination
        li.page-item.disabled
          a.page-link(href='#' tabindex='-1') Previous
        li.page-item
          a.page-link(href='#') 1
        li.page-item.active
          a.page-link(href='#')
            | 2 
            span.sr-only (current)
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#') Next
